@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 195 53% 79%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 100% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 195 53% 79%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 100% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom colors */
:root {
  --color-primary: #add8e6; /* light skyblue */
  --color-secondary: #990000; /* dark red (changed from light red) */
  --color-dark: #000000; /* black */
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-dark {
  color: var(--color-dark);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-dark {
  border-color: var(--color-dark);
}

.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}

.hover\:bg-secondary\/90:hover {
  background-color: rgba(153, 0, 0, 0.9);
}

.hover\:text-primary:hover {
  color: var(--color-primary);
}

.hover\:text-secondary:hover {
  color: var(--color-secondary);
}

.hover\:text-dark:hover {
  color: var(--color-dark);
}
